/* General Styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* App Container */
.App {
  text-align: center;
  padding: 20px;
  margin-top: 70px; /* Adjust as necessary */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  color: #fff;
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

/* Navbar Links */
.navbar .links {
  display: flex;
  align-items: center;
}
.title {
  margin-top: -25px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #cccccc;
}

/* Logout Button */
.navbar .logout-button {
  background-color: #ffffff;
  color: #131313;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .logout-button:hover {
  background-color: #f0f0f0;
  color: #000000;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px;
  transition: all 0.3s ease;
}

/* Side Menu Styling */
.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #131313;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 2000;
}

.sideMenu a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  text-align: left;
  transition: color 0.3s ease;
}

.sideMenu a:hover {
  color: #cccccc;
}

.sideMenu .logout-button {
  background-color: #ffffff;
  color: #131313;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  margin: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sideMenu .logout-button:hover {
  background-color: #f0f0f0;
  color: #000000;
}

.closeIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Show side menu when triggered */
.sideMenu.show {
  width: 250px;
}

/* Mobile-specific styling */
@media (max-width: 768px) {
  .navbar .links {
    display: none; /* Hide links in mobile view */
  }

  .hamburger {
    display: block; /* Show hamburger menu in mobile view */
  }

  .sideMenu {
    width: 0; /* Hide side menu initially */
  }
}

@media (min-width: 769px) {
  .sideMenu {
    display: none; /* Hide side menu in desktop view */
  }

  .navbar .links {
    display: flex; /* Show links in desktop view */
  }

  .hamburger {
    display: none; /* Hide hamburger menu in desktop view */
  }
}
