/* UserDetails.css */
.user-details {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.user-detail-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-detail-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-detail-info {
  text-align: center;
}

.user-detail-info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
